name: Build libnode
on:
  push:
    branches: [main] 
  workflow_dispatch: 

jobs:
  build-libnode:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        node_version: [v20.17.0]
        arch: [x64] 

    steps:
      - name: configure
        uses: actions/checkout@v4

      - name: clone
        run: |
          git clone --depth 1 --branch ${{ matrix.node_version }} https://github.com/nodejs/node.git node-src
        working-directory: ${{ runner.temp }}

      - name: 3. configure windows
        if: matrix.os == 'windows-latest'
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: ${{ matrix.arch }}

      - name: configure linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update && sudo apt install -y build-essential python3 make gcc g++ cmake

      - name: configure macos
        if: matrix.os == 'macos-latest'
        run: |
          xcode-select --install

      - name: 6. build
        working-directory: ${{ runner.temp }}/node-src
        run: |
          if ($IsWindows) {
            vcbuild.bat shared ${{ matrix.arch }} release
          }
          if ($IsLinux -or $IsMacOS) {
            ./configure --shared --arch=${{ matrix.arch }}
            make -j$(nproc) 
          }
        shell: pwsh

      - name: 7. search
        id: find-libnode
        working-directory: ${{ runner.temp }}/node-src
        run: |
          if ($IsWindows) {
            echo "libnode_path=out/Release/libnode.dll" >> $env:GITHUB_OUTPUT
          }
          if ($IsLinux) {
            echo "libnode_path=out/Release/libnode.so" >> $env:GITHUB_OUTPUT
          }
          if ($IsMacOS) {
            echo "libnode_path=out/Release/libnode.dylib" >> $env:GITHUB_OUTPUT
          }
        shell: pwsh

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: libnode-${{ matrix.os }}-${{ matrix.node_version }}-${{ matrix.arch }}
          path: ${{ runner.temp }}/node-src/${{ steps.find-libnode.outputs.libnode_path }}
          retention-days: 30